/*DEPOIMENTOS DESKTOP*/
section#depoimentos {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 var(--container-desktop)
}

.arrow-right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 1rem var(--container-desktop);
    gap: 2rem;
}

.arrow-right img {
    max-width: var(--text-lg);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.arrow-right img:hover {
    background-color: rgba(141, 144, 147, 0.074);
    border-radius: 100%;
}

.arrow-right img#preview, #prev, #prev-ind, #prev-ind-af {
    rotate: 180deg;
}

#depoimentos .slider {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    scroll-snap-type: x mandatory;

}

.slider::-webkit-scrollbar {
    width: 0;
}

.slide-card {
    display: flex;
    border: .1px solid var(--stroke);

    scroll-snap-align: start;
}

.slide-card .img-card {
    width: 390px;
    height: 766px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: end;

    padding: 40px;

    font-size: var(--text-btn);
    font-weight: 600;

    border: .1px solid var(--stroke);
}

.slide-card .dep-card {
    width: 390px;
    padding: 40px;
}

.slide-card .dep-card p {
    font-size: var(--text-sm);
    line-height: 1.1;
    letter-spacing: normal;
}

.dot:focus {
  outline: 1px solid blue;
}

/*DEPOIMENTOS DESKTOP HD*/
@media (max-width: 1440px) {
    section#depoimentos {
        padding: 0 0 0 var(--container-tablet)
    }
    .arrow-right {
        padding: 1rem var(--container-tablet);
    }
}

/*DEPOIMENTOS TABLET*/
@media (max-width: 768px) {
    section#depoimentos {
        padding: 0 0 0 var(--container-tablet)
    }

    .slide-card .img-card {
        width: 50%;
        height: 470px;
        background-size: cover;
        background-position: top;
    }

    .slide-card .dep-card {
        width: 390px;
        padding: 20px;
    }
}
/*DEPOIMENTOS MOBILE*/
@media (max-width: 480px) {
    section#depoimentos {
        padding: 0 0 0 var(--container-mobile)
    }

    .arrow-right {
        padding: 1rem var(--container-mobile);
    }

    section#depoimentos .headline {
        padding: 80px 20px 20px 20px;
        gap: 20px;
    }

}
