/*FOOTER DESKTOP*/
footer {
    width: 100%;
    padding: 0 var(--container-desktop);
}

footer .container {
    display: flex;
    border-top: .1px solid var(--stroke);
    border-bottom: .1px solid var(--stroke);
    margin-bottom: 1rem;
    margin-bottom: 1rem;
}

footer .container .col {
    height: 50vh;
    margin-bottom: 0;
}

footer h4 {
    color: var(--text-light);
}

footer .main-col a {
    text-decoration: none;
    width: 100%;
}

footer .reflexao, footer .blog, footer .social, footer .contato, .cnpj {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
}

footer .reflexao .proverbio {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
}


footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

footer .blog a, .contato a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    text-decoration: none;
    color: var(--text-gray);
}

.social a img {
    max-width: var(--text-sm);
}

.blog a img, .contato a img {
    max-width: var(--p);
}

/*FOOTER desktop hd*/
@media  (max-width: 1440px) {
    footer {
        padding: 0 var(--container-tablet);
    }

    footer .container .col {
        height: 100%;
    }

    footer .headline {
        padding: auto;
        gap: 10px;
    }
}

/*FOOTER TABLET*/
@media  (max-width: 768px) {
    footer {
        padding: 0 var(--container-tablet);
    }

    footer .container {
        display: flex;
        flex-direction: column;
    }
    
    footer .container .col {
        height: 100%;
        margin-bottom: 0;
    }
}

/*FOOTER MOBILE*/
@media  (max-width: 768px) {
    footer {
        padding: 0 var(--container-mobile);
    }
}