/* HERO DESKTOP */

section.hero {
    background-image:url('https://res.cloudinary.com/dfjajuiwn/image/upload/v1728605280/image-bg-hero-01-_1__u65fm9.avif');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    font-family: var(--font-secondary);
    font-size: var(--text-xl);
}

.title span:first-child {
    color: var(--btn-primary);
}

.title span:last-child {
    color: var(--btn-secondary);
}

h1 span:first-child {
    color: var(--text-gray);
}

h1 span:last-child {
    color: var(--text-light);
}

.main-col button.btn-s {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    color: var(--text-light);
    border: none;
    border-top: .2px solid var(--stroke);
    border-bottom: .2px solid var(--stroke);
    padding: 30px;
    font-family: var(--font-prymary);
    font-size: var(--text-btn);
    transition: all .3s ease-in-out;
    
    cursor: pointer;
}

.main-col button.btn-s:hover  {
    background-color: #44d2ff;
    color: var(--bg);
}


section.hero .col:last-child {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 1rem;
}

.video {
    width: 400px;
    cursor: pointer;
    transition: all .4s ease-in-out;
    background: rgba(43, 43, 43, 0.128);
}

video {
    width: 100%;
    border-radius: 1rem;
    z-index: -1;
}

.video:hover {
    width: 500px;
}

/* HERO TABLET */
@media screen and (max-width: 768px) {
    section.hero {
        background-image: none;
    }

    section.hero .col:last-child {

        justify-content: center;
        align-items: center;
        padding: 3rem 0;
    }

    .video {
        width: 100%;
        border-top: .2px solid var(--stroke);
        padding: 1rem;
        background: none;
        
    }

    video {
        border-radius: 0;
    } 
}

/* HERO MOBILE */
@media screen  and (max-width: 480px) {
    section.hero .col:first-child {
        height: 50%;
    }
    section.hero .headline {
        padding: 80px 20px 0 20px;
        gap: 10px;
    }
    section.hero .main-col button.btn-s {
        display: none;
    }
}

