/*DEPOIMENTOS DESKTOP*/
section.quem-indica {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 var(--container-desktop)
}

.quem-indica .slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    scroll-snap-type: x mandatory;

}

section.quem-indica .slider::-webkit-scrollbar {
    width: 0;
}

section.quem-indica .slide-card {
    display: flex;
    border: .1px solid var(--stroke);

    scroll-snap-align: start;
}

section.quem-indica .slide-card .img-card {
    width: 390px;
    height: 744px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: end;

    padding: 40px;

    font-size: var(--text-btn);
    font-weight: 600;

    border: .1px solid var(--stroke);
}

section.quem-indica #slide-01 .img-card {
    background-image: url(../../../../../public/Tulio\ Faria\ Normal.png);
    transition: all .5s ease-in-out;
}

section.quem-indica #slide-01:hover .img-card {
    background-image: url(../../../../../public/Tulio\ Faria\ Active.png);
}

section.quem-indica #slide-02 .img-card {
    background-image: url(../../../../../public/Rodrigo\ Branas\ Normal.png);
    transition: all .5s ease-in-out;
}

section.quem-indica #slide-02:hover .img-card {
    background-image: url(../../../../../public/Rodrigo\ Branas\ Active.png);
}

section.quem-indica #slide-03 .img-card {
    background-image: url(../../../../../public/UniFap\ Normal.png);
    transition: all .5s ease-in-out;
}

section.quem-indica #slide-03:hover .img-card {
    background-image: url(../../../../../public/UniFap\ Active.png);
}

section.quem-indica .slide-card .dep-card {
    width: 390px;
    padding: 40px;
}

section.quem-indica .slide-card .dep-card p {
    font-size: var(--text-sm);
    line-height: 1.1;
    letter-spacing: normal;
}

/*DEPOIMENTOS DESKTOP HD*/
@media (max-width: 1440px) {
    section.quem-indica {
        padding: 0 0 0 var(--container-tablet)
    }
}

/*DEPOIMENTOS TABLET*/
@media (max-width: 768px) {
    section.quem-indica {
        padding: 0 0 0 var(--container-tablet)
    }

    section.quem-indica .slide-card .img-card {
        width: 50%;
        height: 470px;
        background-size: cover;
        background-position: top;
    }

    section.quem-indica .slide-card .dep-card {
        width: 390px;
        padding: 20px;
    }
}
/*DEPOIMENTOS MOBILE*/
@media (max-width: 480px) {
    section.quem-indica {
        padding: 0 0 0 var(--container-mobile)
    }

}
