/*SOBRE DESKTOP*/
section.sobre .col {
    position: relative;
}

section.sobre .col img {
    max-width: var(--img-w1);
    position: absolute;
    right: 0;
}

h2 span:first-child {
    color: var(--text-gray);
}

h2 span:last-child {
    color: var(--text-light);
}


/*SOBRE TABLET*/
@media screen and (max-width: 768px) {
    
    section.sobre .col img {
        max-width: 100%;
        position:inherit;
        transform: translateX(-8%);
    }
}

/*SOBRE MOBILE*/
