/*STEP-BY-STEP DESKTOP*/

section.step-by-step .col {
    position: relative;
}

section.step-by-step .col img {
    position: absolute;
    width: var(--img-w2);
    left: -20px;
}

/*STEP-BY-STEP DESKTOP HD*/
@media screen and (max-width: 1366px) {
    
    section.step-by-step .col img {
        max-width: var(--img-w3);
        left: -46px;
        bottom: 50px;
    }
}


/*STEP-BY-STEP TABLET*/
@media screen and (max-width: 768px) {
    section.step-by-step {
        flex-direction: column-reverse;
    }

    section.step-by-step .col img {
        transform: translateX(-3.5%);
        position: inherit;
        max-width: 100%;
        bottom: 0;
        left: 0;
    }
}

/*STEP-BY-STEP MOBILE*/
